body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #c2bcbb;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    text-align: center;
    background: #f0e3e3;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


h1 {
    margin-bottom: 20px;
    color: #df334faf;
    font-size: 2em;
}


.episode-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.episode-button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #911616;
    color: hsl(210, 100%, 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;




}


.episode-button:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
}


.episode-button:active {
    transform: translateY(0);
}




.navigation {
    background-color:#c40522; /* Rosa */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(430, 117, 117, 0.1);
    position: absolute; /* Posição absoluta em relação ao corpo */
    top: 20px; /* Afasta 20px do topo */
}


.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.navigation ul li {
    margin-right: 10px;
}


.navigation ul li:last-child {
    margin-right: 0;
}


.navigation ul li a {
    text-decoration: none;
    color: #ffffff; /* Branco */
    font-weight: bold;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}


.navigation ul li a:hover {
    background-color: #ff0202; /* Rosa mais escuro */
}






